root {
    display: block;
}
.root {
    -fx-background-color:
    linear-gradient(to bottom, #f2f2f2, #d4d4d4);
    -fx-padding:20px;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
HBox {
    -fx-spacing: 15px;
}

VBox {
    -fx-spacing: 16px;
    -fx-padding: 10;

}
GridPane {
    -fx-vgap: 20px;
    -fx-hgap: 15px;
}
ScrollPane {
    -fx-fit-to-width: "true";
    /*-fx-border-color: #2e8b57;*/
    -fx-border-width: 2px;
}
.button {
    -fx-text-fill:white;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 9;
}
.slider {
    -fx-show-tick-labels: true;
    -fx-show-tick-marks: true;
    -fx-major-tick-unit: 25;
    -fx-minor-tick-count: 5;
}