root {
    display: block;
}
.root {
    -fx-background-color:
    linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}

.label {
    -fx-font-family: "Roboto Medium";
	-fx-font-size: 14.0;
	-fx-font-weight: bold;

}
HBox {
    -fx-spacing: 15px;
}

VBox {
    -fx-spacing: 16px;
    -fx-padding: 10;

}
GridPane {
    -fx-vgap: 20px;
    -fx-hgap: 15px;
}
ScrollPane {
    -fx-fit-to-width: "true";
    /*-fx-border-color: #2e8b57;*/
    -fx-border-width: 2px;
}
/*.button {
    -fx-text-fill:white;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 9;
}*/
.slider {
    -fx-show-tick-labels: false;
    -fx-show-tick-marks: false;
    -fx-major-tick-unit: 25;
    -fx-minor-tick-count: 5;
}
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised-sub{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 200;
    -fx-text-fill: rgb(77,102,204);
}
.button-raised-photo{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 150;
    -fx-text-fill: rgb(77,102,204);
}
.custom-jfx-check-box{
    -fx-checked-color: RED;
    -fx-unchecked-color: BLACK;
}

.radio-button-new-data {
    -fx-mark-color: rgb(15,157,88);
    -fx-mark-highlight-color: rgb(15,157,88);
    -fx-size: 10;
}

.radio-button-new-data:disabled {
    -fx-opacity: 1;
}

.radio-button-new-data .radio {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
   -fx-padding: 0px;
}

.radio-button-new-data .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

