/*.button {
      -fx-display: inline-block;
      -fx-position: relative;
      -fx-width: 120px;
      -fx-height: 32px;
      -fx-line-height: 32px;
      -fx-border-radius: 2px;
      -fx-font-size: 0.9em;
      -fx-background-color: #fff;
      -fx-text-color: #646464;
    }*/